.first{
    background-color: white;
    color: black;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    display: inline-block;
}
.second{
    background-color: white;
    color: black;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    display: inline-block;
}
.third{
    background-color: white;
    color: black;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    display: inline-block;
}
.fourth{
    background-color: white;
    color: black;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    display: inline-block;
    }
.fifth{
    background-color: white;
    color: black;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    display: inline-block;
}
.sixth{
    background-color: white;
    color: black;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    display: inline-block;
}
.seventh{
    background-color: white;
    color: black;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    display: inline-block;
}
.eight{
    background-color: white;
    color: black;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    display: inline-block;
    }
